.container {
    margin-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    letter-spacing: 10px;
}
.long-line {
    border-style: solid;
    height: 0px;
    width: 500px;
    margin: 10px;
}
.short-line {
    border-style: solid;
    height: 0px;
    width: 250px;
}
button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 10px 15px 10px 15px;
    border-radius: 28px;
    margin-right: 30px;
    width: 30vh;
    border-color: #8E3300;
    border-style: solid;
    color: #efefef;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
    background-color: #FF5C00;
}
button:hover {
    cursor: pointer;
    background-color: #ff5e00a3;
}
